<!-- Use this page as the index for your project -->

<!-- ADDING CUSTOM CSS - Add your custom CSS or Sass in /app/assets/sass/main.scss -->

<!-- Extends the layout from /views/layout.html -->
{% extends 'layout.html' %}
<!-- 
  In /views/layout.html you can:
    - change the header and footer 
    - add custom CSS and JavaScript
-->

<!-- Set the page title inside the pageTitle block -->
{% block pageTitle %}
  NHS.UK Nav Team
{% endblock %}

<!-- Breadcrumb goes inside the beforeContent block -->
{% block beforeContent %}
{% endblock %}

<!-- Your page content goes inside the content block -->
<!-- More info and code for the page layout can be found at https://service-manual.nhs.uk/design-system/styles/layout -->
{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">

      <!-- Change the page title here -->
      <h1>
        The Nav Team templates and components
        <span class="nhsuk-caption-xl nhsuk-caption--bottom">Last updated April 2022</span>
      </h1>

      <p><strong>The Nav Team on NHS.UK</strong> (previously known as the Information Architecture team) have been working on updating page templates and components across the website to improve users' abilities to understand what content we have, how they can find it and what else we have to offer.</p>
      <p>This prototype is a catalogue of these templates and components, and will also include guidance about how to use them where possible.</p>
  
      <h2>
        New page templates
      </h2>

      
    </div>
  </div>
{% endblock %}
